.pagrec { 
    display: grid;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

.first-inputs {
/*     margin-bottom: 10px; */
display: grid;
grid-template-columns: auto auto;
column-gap: 20px;
row-gap: 20px;
}