.container__button{
    max-width: 150px;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;
}

.container__labels {
    border-bottom: 1px solid var(--color-gray-terciary);
    display: grid;

}

.timer {
    margin: 10px 50px;
}

.container-item__content {
    display: flex;
}

.container-item__button {
 display: flex;
 width: 100%;
 justify-content: space-around;
 max-height: 32px;
}