.container__top {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.containers__button{
    max-width: 150px;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;
}

.containers__labels {
    width: 600px;
    display: grid;
    grid-template-columns: auto auto;
}

.containers__list {
    display: flex;
}

.timer {
    margin: 10px 50px;
}