.table {
    box-shadow: 0 1px 3px var(--color-gray-terciary), 0 1px 2px var(--color-gray-terciary);
    border-radius: 10px;
}

.table__top {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    width: 100%;
    margin-bottom: 20px;
}