.containers {
    text-align: center;
    margin-top: 25px;
    display: flex;
}

.containers__top {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.containers__list {
    padding: 25px;
    box-shadow: 0 1px 3px var(--color-gray-terciary), 0 1px 2px var(--color-gray-terciary);
    border-radius: 10px;
    width: 80%;
}

.groups-cards {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    row-gap: 35px;
    margin-left: 15px;
}
