.containers {
    text-align: center;
    margin-top: 25px;
    display: flex;
}

.containers__top {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.containers__list {
    width: 80%;
}

.groups-cards {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    row-gap: 35px;
    margin-left: 15px;
}
